body {
	background: #FFFFFF;
}

header > nav {
	background: #78cb7e;
}

main > .container {
  padding: 60px 15px 0;
}

footer {
	background: #f7f2f2;
}

.navbar-nav > li.active {
	background: #aaffae;
	font-weight: bold;
}

.navbar-nav > li:hover {
	background: #aaffae;
}